/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
}

body {
    background-color: hsl(233, 47%, 7%);
}

/*  */

.card {
    width: 325px;
    margin: 100px auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
}

.img-container-mobile {
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: hsl(277, 64%, 61%);
    line-height: 0;
}

.img-container-mobile img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    position: relative;
    opacity: 0.5;
    mix-blend-mode: normal;
}

.summary-section {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}

.summary-section p {
    text-align: center;
    padding: 20px 0;
}

span {
    color: hsl(277, 64%, 61%);
}

.summary-section p {
    color: hsla(0, 0%, 100%, 0.75);
}

.stats-section {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.stat {
    padding: 10px 0;
}

.stat-number {
    font-size: 1.25rem;
    font-weight: 700;
}

.stat-name {
    font-size: 0.75rem;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
}

.attribution {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

/* Desktop */

@media (min-width: 375px) {

}